<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion Client</title>
    <link rel="stylesheet" href="{$url_base}public/css/menu.css" />

    <link rel="stylesheet" href="{$url_base}public/css/gestionClient.css" />
        <link rel="stylesheet" href="{$url_base}public/css/gestionClient.css" />

	<link rel="stylesheet" href="{$url_base}public/css/gestionCompte.css" />
	<link rel="stylesheet" href="{$url_base}public/css/bootstra.css" />


    <script
      src="{$url_base}public/js/gestionClient.js"
      type="text/javascript"
    ></script>
    <script
      src="{$url_base}public/js/gestionCompte.js"
      type="text/javascript"
    ></script>
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li class="logo"><a href="#">La banque du peuple</a></li>
        <li class="item">
          <a href="{$url_base}Client/add">Gestion des clients</a>
        </li>
        <li class="item">
          <a href="{$url_base}Compte/add">Gestion des comptes client</a>
        </li>
        <li class="item">
          <a href="{$url_base}Client/liste">Liste clients</a>
        </li>

      </ul>
    </nav>
    <div class="contenue">
      <div class="error" id="message_error"></div>
      <form
        action="{$url_base}Client/add"
        method="POST"
        class="formClient"
        id="formClient"
        onsubmit="return validationClient()"
      >
        <fieldset class="fieldset">
          <legend class="legend">Liste des clients</legend>
          <div class="itemFieldset">
			<div>
					
				{if isset($clients)}
					{if $clients != null}
						<table class="table">
							<tr>
								<th>Identifiant</th>
								<th>Nom</th>
								<th>Prenom</th>
								<th>Adresse</th>
								<th>Telephone</th>
								<th>Email</th>
								<th>Profession</th>
								<th>Action</th>
								<th>Action</th>
							</tr>
							{foreach from=$clients item=client}
								<tr>
									<td>{$client->getId()}</td>
									<td>{$client->getNom()}</td>
									<td>{$client->getPrenom()}</td>
									<td>{$client->getAdresse()}</td>
									<td>{$client->getTel()}</td>
									<td>{$client->getEmail()}</td>
									<td>{$client->getProfession()}</td>
									<td><a class="link" href="{$url_base}Client/delete/{$client->getId()}">Supprimer</a></td>
									<td><a class="link" href="{$url_base}Client/edit/{$client->getId()}">Editer</a></td>
								</tr>
							{/foreach}
						</table>
					{else}
						Liste vide
					{/if}
				{/if}
			</div>
		  </div>
		  <button class="btna">
			<a class="link" href="{$url_base}Client/add">Nouveau client</a>
		</button>	
        </fieldset>

       
      </form>
    </div>
  </body>
</html>
